
<div ng-init="collectSession()">
<div class="row">
	<span class="col-md-5 col-md-offset-1" style="padding-left:240px"><button class="btn btn-primary" ng-click="weekBillChart()">weekly</button></span>
	
	
	<span class="col-md-2 col-md-offset-1"  style="padding-left:60px"><button class="btn btn-primary" ng-click="sixMonthBillChart()">Six month</button></span>

	<span class="col-md-2 col-md-offset-1"  style="padding-right:240px"><button class="btn btn-primary" ng-click="thisMonthBillChart()">This Month</button></span>

	
	
	</div>
	<div class="row">
	<div id="weekBill" class="col-md-4">
	</div>
	<div id="sixMonthBill" class="col-md-4">
	</div>
	<br>
	<div id="thisMonthBill" class="col-md-4">
	</div>
	</div>
</div>