<div class="container-fluid">

	<div class="row"  style="color: white;">
		<h1 align="center" style="color: white">My bill</h1>
	</div>
	<br> <br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="container-fluid " >

				 <div>
				 <div style="color: white">
						<input type="radio" name="plans" value="daily"/>Daily
						<input type="radio" name="plans" value="weekly"/>Weekly
						<input type="radio" name="plans" value="monthly"/>Monthly
						&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-info"value="Generate Usage"/> </div>
						</div>

				
			</div>
		</div>
	</div>

</div>
