
<link rel="stylesheet" href="../css/bootstrap.css">
<script src="../js/shared/bootstrap.js"></script>
<link rel="stylesheet" href="../css/file.css">
<div class="promos">  
<div class="ghum">
<div class="promo">
  <div class="deal">
    <span>Mom N Dad</span>
    <span>A plan for users with low data usage</span>
  </div>
  <span class="price">$10</span>
  <ul class="features">
    <li>2GB Data</li>
    <li>$0.01/MB Charges after limit</li> 
  </ul>
  <button>Sign up</button>
</div>
</div>
</div>
<!-- <div class="promo"> -->
<!--   <div class="deal"> -->
<!--     <span>Social Teen</span> -->
<!--     <span>For all the Social Teens out there</span> -->
<!--   </div> -->
<!--   <span class="price">$15</span> -->
<!--   <ul class="features"> -->
<!--     <li>5GB Data</li> -->
<!--     <li>$0.008/MB Charges after limit</li>    -->
<!--   </ul> -->
<!--   <button>Sign up</button> -->
<!-- </div> -->
<!-- <div class="promo"> -->
<!--   <div class="deal"> -->
<!--     <span>Video Mate</span> -->
<!--     <span>More data with less charges</span> -->
<!--   </div> -->
<!--   <span class="price">$20</span> -->
<!--   <ul class="features"> -->
<!--     <li>10GB Data</li> -->
<!--     <li>$0.005/MB Charges after limit</li>   -->
<!--   </ul> -->
<!--   <button>Sign up</button> -->
<!-- </div> -->
<!-- <div class="promo"> -->
<!--   <div class="deal"> -->
<!--     <span>Torrent Guy</span> -->
<!--     <span>A high data package</span> -->
<!--   </div> -->
<!--   <span class="price">$30</span> -->
<!--   <ul class="features"> -->
<!--     <li>20GB Data</li> -->
<!--     <li>$0.002/MB Charges after limit</li>     -->
<!--   </ul> -->
<!--   <button>Sign up</button> -->
<!-- </div> -->
<!-- </div> -->