
<link rel="stylesheet" href="../css/file.css">
	<div>
	<div class="col-md-2 col-md-offset-1">
		<div class="card-container cardspace">
			<div class="card">
				<div class="side">
					<img src="../img/Word Art.jpeg" class="cardimage">
				</div>
				<div class="side back">

					<div class="promo">
						<div class="deal">
							<span>Mom N Dad</span> <span>A plan for users with low
								data usage</span>
						</div>
						<span class="price">$10</span>
						<ul class="ul">
							<li class="li">2GB Data</li>
							<li class="li">$0.01/MB Charges after limit</li>
						</ul>
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<div class="card-container cardspace">
			<div class="card">
				<div class="side">
					<img src="../img/Word Art.png" class="cardimage">
				</div>
				<div class="side back">

					<div class="promo">
						<div class="deal">
							<span>Social Teen</span> <span>For all the Social Teens out there</span>
						</div>
						<span class="price">$15</span>
						<ul class="ul">
							<li class="li">5GB Data</li>
							<li class="li">$0.008/MB Charges after limit</li>
						</ul>
						<button class="btn btn primary">Sign up</button>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<div class="card-container cardspace">
			<div class="card">
				<div class="side">
					<img src="../img/TG.png" class="cardimage">
				</div>
				<div class="side back">

					<div class="promo">
						<div class="deal">
							<span>Video Mate</span> <span>More data with less charges</span>
						</div>
						<span class="price">$20</span>
						<ul class="ul">
							<li class="li">10GB Data</li>
							<li class="li">$0.005/MB Charges after limit</li>
						</ul>
						<button class="btn btn primary">Sign up</button>
					</div>

				</div>
			</div>

		</div>
	</div>
	<div class="col-md-2 col-md-offset-1">
		<div class="card-container cardspace">
			<div class="card">
				<div class="side">
					<img src="../img/Word Art5.jpeg" class="cardimage">
				</div>
				<div class="side back">

					<div class="promo">
						<div class="deal">
							<span>Torrent Guy</span> <span>A high data package</span>
						</div>
						<span class="price">$30</span>
						<ul class="ul">
							<li class="li">20GB Data</li>
					
							<li class="li">$0.002/MB Charges after limit</li>
							
						</ul>
						
					</div>

				</div>
			</div>

		</div>
	</div>
</div>