body{
background-color:white;
}
#bp{
background-color:black;
padding:2px;
border:2px solid gray;
border-style:outset;
width:99%;
height:100;
color:white;
font-family:"Comic Sans MS";
text-align:center;
font-size:50;
}
table.tab{
width:100%;
height:10%;
border:1px dashed black;
}
#list1{
background-color:gray;
text-align:center;
}
#list2{
background-color:gray;
text-align:center;
}
#list3{
background-color:gray;
text-align:center;
}
#list4{
background-color:gray;
text-align:center;
}
a#list_1:hover{
text-decoration:none;
}
a#list_2:hover{
text-decoration:none;
}
a#list_3:hover{
text-decoration:none;
}
a#list_4:hover{
text-decoration:none;
}
a#list_1:visited{
color:white;
}
a#list_2:visited{
color:white;
}
a#list_3:visited{
color:white;
}
a#list_4:visited{
color:white;
}
a#list_1:link{
color:black;
}
a#list_2:link{
color:black;
}
a#list_3:link{
color:black;
}
a#list_4:link{
color:black;
}
#pics{
height:60%;
width:100%;
border: 2px gray solid;
}
#pics:hover{
border:3px solid black;
}