body{
background-color:white;
}
#row_1{
background-color:black;
color:white;
font-size:25px;
}
#row_2{
background-color:white;
color:black;
}
table{
border:2px solid gray;
width:100%;
}
a#line_1:link{
color:black;
text-decoration:none;
}
h1#head{
color:brown;
font-size:45px;
}
h2#head{
color:black;
font-size:28px;
}